body {
    font-family: 'Courier New', Courier, monospace
  }
  
  form>button {
    border: none;
    background-color: #e768f3;
    color: white;
    padding: 3px 8px;
    border-radius: 3px;
  }
  
  
  li:hover {
    cursor: pointer;
    color: #e768f3;;
  }
  
  .finished {
    color: #0DB670;
    text-decoration: line-through;
  }
  
  .clear-btn {
    background-color: #0DB670;
  }