* {
  box-sizing: border-box;
}
a {
  color: black;
  text-decoration: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 20px;
  position: sticky;
  top: 0px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: white;
  width: 100%;
  height: 85px;
}

.second-logo {
  margin-top: 4px;
  font-weight: bold;
}

.header-nav-icons {
  display: flex;
  size: 17px;
}

.header-nav-icons {
  display: flex;
  font-size: 30px;
  gap: 20px;
}

.nav-icons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.tourismus {
  text-decoration: underline;
  color: black;
}

.header-nav-icon-text {
  font-size: 12px;
  margin-top: 7px;
}

.logo-header-section {
  size: 20px;
  padding-left: 20px;
}

main {
  flex: 1;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-background {
  display: flex;
  position: relative;
  width: 100%;
  height: 450px;
}

.berlin-background-section {
  position: relative;
}

.main-banner-text {
  position: absolute;
  display: flex;
  z-index: 1;
  left: 110px;
  bottom: 54px;
  font-size: 40px;
  color: white;
  text-shadow: 50px; /* did not work out somehow????*/
}
/* ---------------------------------------------*/
.articles-section {
  padding: 90px 100px;
}

.articles-section > h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 16.5px;
  display: flex;
  flex-direction: column;
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  min-height: 350px;
  margin-bottom: 85px;
}

.grid-card {
  position: relative;
  width: 313.33px;
  background-size: contain;
background-repeat: no-repeat;
}

.card-image {
  width: 100%;
  height: 234.98px;
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  justify-content: right;
}


.copywrite-icon {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: rgb(105, 105, 105);
}

.article-title-section {
  font-size: 17px;
  font-weight: bold;
  line-height: 23px;
  margin-top: 12px;
}

.description-section {
  font-size: 16px;
  line-height: 24px;
}

.description-section a {
  color: #0047D3;
}
.arrow-blue {
  font-size: 12.5px;
  padding-left: 3px;
}

.arrow {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #e40422;
 
}

/* ---------------------------------------------*/
.nav-bottom-section {
  background-color: #F5F5F5;
  padding: 30px 59px 58px 100px; /*top right bottom left*/
}

.nav-bottom-heading {
  display: flex;
  align-items: center;
  justify-content: end;
  line-height: 24px;
  gap: 6px;
}
.arrow-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e40422;
  width: 24px;
  height: 24px;
}

.bottom-items-wrapper { /*это расстояние между навигацией и красной стрелкой с текстом*/
    display: flex;
    justify-content: space-between;
  margin-top: 40px;
}

.nav-bottom-items {
  display: flex;
  flex-direction: column;
  width: 149px;
  gap: 20px; /*вертикальное расстояние*/
}

.nav-bottom-items a {
  font-size: 16px;
}
.nav-bottom-items h4 {
  font-size: 17px;
  font-weight: bold;
  line-height: 23px;
}
/* ---------------------------------------------*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  color: white;
  background-color: #545454;
  width: 100%;
  height: 483px;
  padding: 35px 59px 58px 35px; /*top right bottom left*/
}

.logo-footer {
  height: 40px;
}

.nav-footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Выровнять колонки по верхнему краю */
  padding-left: 5%;
  padding-top: 64px;
}

.nav-footer-items {
  display: flex;
  flex-direction: column;
  width: 149px;
  gap: 20px; /*вертикальное расстояние*/
  text-align: left; /* Выровнять текст по левому краю */
}

.nav-footer-items h4 {
  font-size: 17px;
  font-weight: bold;
  line-height: 23px;
}

.nav-footer-items a {
  font-size: 16px;
  color: #FFFFFF;
}

.footer-last-text {
display: flex;
justify-content: start;
padding-left: 100px;
padding-top: 53px;
}