
* {
    box-sizing: border-box;
}
.container {
   display: flex;  /* как только мы добавляем такое свойство, все идет по горизонтали */
   justify-content: center; /* свойство выравнивания по главной оси */
   align-items: center; /* свойство выравнивания для поперечной оси */
   flex-direction: row; /* свойство для выбора положения главной оси */
   gap: 10px; /* промежуток между элементами */
    width: 100%;
    min-height: 250 px;
    background-color: rgb(153, 221, 255);
}

.container > div {
    width: 150px;
    height: 200px;
    padding: 20px;
    background-color: rgb(209, 160, 255);
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.item > h5{
    margin: 0;
}

.container2 {
    display: flex;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    align-content: center;/* управления свойствами выравнивания поперечной оси при переносе строк через flex-wrap */
    min-height: 500px;
    border: 1px solid black;
    background-color: rgb(251, 146, 193);
}

.container2 > div {
    height: 150px;
    width: 150px;
    background-color: aquamarine;
}
.flex-card{
    width: 300px;
    height: 400px;
    padding: 20px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 15px;
}
.flex-card > img {
    width: 70%;
}
/* мы можем применить свойства к несколькоим селекторам, можно обратиться к ним через запятую */
.flex-card > p,h4 {
    margin: 0;
}

.flex-card > p {
    font-size: 12px;
}
