.method-list span {
  color: black;
  font-weight: bold;
}
.desc {
    color: darkred;
}

.method-list {
    list-style-type: none; /*таким образом мы убираем точки у ul, bc there is none for the list style type*/
    color: rgb(0, 187, 0);
}

/* класс - модификатор, чтобы прятать элемент */
.hide {
  display: none;
}

.desc-info {
  color: darkblue;
}

.btn {
  border: none;
  padding: 5px 8px;
  border-radius: 3px;
}

.change-heading{
background-color: chartreuse;
}

.hide-list {
  background-color: rgb(247, 113, 113);
}

.create-element {
  background-color: rgb(106, 143, 255);
}

.btn:hover {
background-color: rgb(83, 0, 38);
color: white;
}

.dom-result {
  color: rgb(252, 125, 39);
}